<article class="panel is-dark">
  <p class="panel-heading">
    Upcoming Attended Events
  </p>
  <% user.attended_events.where('date >= ?', Date.today).each do |evt| %>
    <%= link_to evt.title, event_path(evt), class: "panel-block" %>
  <% end %></article>
<article class="panel">
  <p class="panel-heading">
    Past Attended Events
  </p>
  <% user.attended_events.where('date < ?', Date.today).each do |evt| %>
    <%= link_to evt.title, event_path(evt), class: "panel-block" %>
  <% end %>
</article>